
.setup-committee-section {
    width: 100%;
    padding: 30px 20px;
    border-radius: 15px;
    background: $body-box-bg;
    box-shadow: 1px 2px 6px -2px rgba(0, 0, 0, 0.30);
    -webkit-box-shadow: 1px 2px 6px -2px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 1px 2px 6px -2px rgba(0, 0, 0, 0.30);

    .heading {
        border-bottom: 2px solid #f7f7f7;
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 15px;
    }

    .setup-committee-content {
        padding-top: 30px;

        .add-members {
            ul {
                display: block;
                padding: 0;
                margin: 0;

                li {
                    display: block;
                    list-style: none;
                    padding-bottom: 30px;

                    label {
                        width: 200px;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 20px;
                        color: #393939;
                        margin: 0 10px 0 0;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        vertical-align: middle;
                    }

                    .select-Committee {
                        width: 200px;
                        color: #90898a;
                        border-radius: 8px;
                        background-color: #f5f5f5;

                        .MuiNativeSelect-select {
                            padding: 8px 10px;

                            &:focus {
                                border-radius: 8px;
                            }
                        }

                        .MuiInputBase-root {
                            &::before {
                                display: none;
                            }

                            &::after {
                                display: none;
                            }
                        }

                        .MuiSvgIcon-root {
                            color: #ffffff;
                            border-radius: 50%;
                            margin-right: 10px;
                            background: $buttons-bg;
                        }
                    }

                    .new-item-btn {
                        color: $button-text-color;
                        border-radius: 8px;
                        text-transform: none;
                        background: $buttons-bg;
                        margin-bottom: 15px;

                        .plus-icon {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        .select-members {
            .heading {
                border-bottom: 2px solid #f7f7f7;
                margin-left: -20px;
                margin-right: -20px;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 15px;

                h5 {
                    margin-bottom: 0;
                }
            }

            .members-boxs {
                margin-top: 15px;

                .member-box {
                    padding: 20px 15px 15px 15px;
                    position: relative;
                    margin-bottom: 15px;

                    .image {
                        text-align: center;
                    }

                    .menu-icon {
                        position: absolute;
                        right: 5px;
                        top: 5px;

                        .MuiButtonBase-root {
                            padding: 8px;
                        }
                    }

                    .member-details {
                        padding-top: 15px;
                        text-align: center;

                        ul {
                            padding: 0;
                            margin: 0;
                            display: block;

                            li {
                                display: block;
                                list-style: none;

                                b {
                                    font-size: 14px;
                                    line-height: 20px;
                                    color: $text-color;
                                }

                                span {
                                    font-size: 14px;
                                    line-height: 20px;
                                    color: $icon-color;
                                }

                                p {
                                    font-size: 14px;
                                    line-height: 20px;
                                    font-weight: 500;
                                    color: $buttons-bg;
                                }
                            }
                        }
                    }

                    .member-contact {
                        float: left;

                        ul {
                            margin: 0;
                            padding: 0;
                            display: block;

                            li {
                                display: block;
                                list-style: none;
                                padding-bottom: 10px;

                                a {
                                    font-size: 14px;
                                    line-height: 20px;
                                    font-weight: 500;
                                    color: $text-color;
                                    text-decoration: none;
                                }

                                .icon-btn {
                                    min-width: 0;
                                    padding: 5px;
                                    margin-right: 10px;
                                    border-radius: 8px;
                                    color: $buttons-bg;
                                    background: #f6edfe;

                                    .phone-icon {
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                    }

                    &:hover {
                        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
                        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
                        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

                        .member-contact {
                            ul {
                                li {
                                    .icon-btn {
                                        background: $buttons-bg;
                                        color: $button-text-color;
                                    }
                                }
                            }
                        }
                    }

                    &.active {
                        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
                        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
                        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

                        .member-contact {
                            ul {
                                li {
                                    .icon-btn {
                                        background: $buttons-bg;
                                        color: $button-text-color;
                                    }
                                }
                            }
                        }
                    }
                }

                .committee-btn {
                    display: block;
                    margin: 0 auto;
                    padding-top: 30px;

                    .new-item-btn {
                        color: $button-text-color;
                        border-radius: 8px;
                        text-transform: none;
                        background: $buttons-bg;
                        margin-bottom: 15px;

                        .plus-icon {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 1200px) {
    .setup-committee-section {
        .setup-committee-content {
            .select-members {
                .members-boxs {
                    .member-box {
                        .member-details {
                            ul {
                                li {
                                    span {
                                        font-size: 12px;
                                    }

                                    p {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }

                        .member-contact {
                            ul {
                                li {
                                    a {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 767px){
    .setup-committee-section {
        .setup-committee-content {
            .select-members {
                .members-boxs {
                    .member-box {
                        .member-details {
                            ul {
                                li {
                                    span {
                                        font-size: 14px;
                                    }

                                    p {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }

                        .member-contact {
                            ul {
                                li {
                                    a {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                    .committee-btn{
                        padding-top: 20px;
                    }
                }
            }
        }
    }
} 

@media only screen and (max-width: 540px){
    .setup-committee-section {
        .setup-committee-content {
            .select-members {
                .members-boxs {
                    .member-box {
                        .member-details {
                            ul {
                                li {
                                    span {
                                        font-size: 14px;
                                    }

                                    p {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }

                        .member-contact {
                            ul {
                                li {
                                    .icon-btn{
                                        margin-right: 5px;
                                    }
                                    a {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                    .committee-btn{
                        padding-top: 20px;
                    }
                }
                .heading{
                    h5{
                        font-size: 18px;
                    }
                }
            }
            .add-members{
                ul{
                    li{
                        label{
                            padding-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}