.setup-committee-section {
    width: 100%;
    padding: 30px 20px;
    border-radius: 15px;
    background: $body-box-bg;
    box-shadow: 1px 2px 6px -2px rgba(0, 0, 0, 0.30);
    -webkit-box-shadow: 1px 2px 6px -2px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 1px 2px 6px -2px rgba(0, 0, 0, 0.30);

    .heading {
        border-bottom: 2px solid #f7f7f7;
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 15px;

        .head-icon {
            padding: 6px;
            color: #ffffff;
            margin-right: 30px;
            vertical-align: top;
            background-color: #8f8f8f;

            svg {
                color: #ffffff;
            }
        }
    }

    .setup-committee-content {
        padding-top: 30px;

        .add-members {
            ul {
                display: block;
                padding: 0;
                margin: 0;

                li {
                    display: block;
                    list-style: none;
                    padding-bottom: 1rem;

                }
            }
        }

        .select-members {
            padding-top: 0px;

            .heading {
                border-bottom: 2px solid #f7f7f7;
                margin-left: -20px;
                margin-right: -20px;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 15px;

                h5 {
                    margin-bottom: 0;
                }
            }

        }
    }
}


@media only screen and (max-width: 1200px) {
    .setup-committee-section {
        .setup-committee-content {
            .select-members {
                .members-boxs {
                    .member-box {
                        .member-details {
                            ul {
                                li {
                                    span {
                                        font-size: 12px;
                                    }

                                    p {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }

                        .member-contact {
                            ul {
                                li {
                                    a {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .setup-committee-section {
        .setup-committee-content {
            .select-members {
                .members-boxs {
                    .member-box {
                        .member-details {
                            ul {
                                li {
                                    span {
                                        font-size: 14px;
                                    }

                                    p {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }

                        .member-contact {
                            ul {
                                li {
                                    a {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }

                    .committee-btn {
                        padding-top: 20px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 540px) {
    .setup-committee-section {
        .setup-committee-content {
            .select-members {
                .members-boxs {
                    .member-box {
                        .member-details {
                            ul {
                                li {
                                    span {
                                        font-size: 14px;
                                    }

                                    p {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }

                        .member-contact {
                            ul {
                                li {
                                    .icon-btn {
                                        margin-right: 5px;
                                    }

                                    a {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }

                    .committee-btn {
                        padding-top: 20px;
                    }
                }

                .heading {
                    h5 {
                        font-size: 18px;
                    }
                }
            }

            .add-members {
                ul {
                    li {
                        label {
                            padding-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}